// @use "reset" as *;
@use "variables" as *;

.info {
  color: $info;
  font-weight: 600;
}
.warning {
  color: $warn;
}

.flex-container {
  display: flex;
  gap: 5px;
}
.item1 {
  flex: 1;
  text-align: center;
}
.item2 {
  flex: 1;
  padding-right: 20px;
  padding-left: 10px;
  text-align: left;
}
.item3 {
  flex: 1;
  text-align: left;
}
.flex-container2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 4px;
  width: 100%;
}
.flex-container3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}
.video-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  // border: 2px solid #000000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.seperator {
  margin-top: 10px;
  margin-bottom: 10px;
}
