extends layout
include mixins/video

block content
  center
    h2=`Wild Animals`
  p.info ✨ Please check your favorite video on wild animals.
  if videos && videos.length > 0
    div.grid-container
      each item in videos
        +video(item)
  else
    li Sorry, No Videos!