doctype html
html(lang="ko")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    // OG Tag Start
    meta(property="og:title", content="Live Animals")
    meta(property="og:description", content="Share your own natural animal video. Photo to Video feature coming soon...")
    meta(property="og:image", content="https://images.pexels.com/photos/631292/pexels-photo-631292.jpeg")
    meta(property="og:url", content="https://express-wetube-challenge.fly.dev")
    meta(property="og:type", content="website")
    meta(property="og:site_name", content="Wetube")
    // OG Tag End
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    link(rel="stylesheet", href="/static/css/styles.css")
    title #{pageTitle} | #{siteTitle}
  body
    include partials/toast
    include partials/header
    main
      block content
    include partials/footer
    script(src="/static/js/main.js")
    block scripts